body {
    /*background-image: url(https://wallpapercave.com/dwp1x/wp4918351.jpg);*/
    background-size: cover;
    background-position: top center;
    background-position-y: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#top {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    font-size: 1.5em;
    color: black;
}